<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="tests/bootstrap.php"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="all">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="app/"/>
        <server name="KERNEL_CLASS" value="\ApiKernel"/>
        <ini name="display_errors" value="true"/>
        <ini name="display_startup_errors" value="true"/>
        <env name="APP_ENV" value="test"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
