AuthUserFile /var/www/nous.taillandier.name/_nonpasla_/nouspass
AuthName "Acces securise"
AuthType Basic
##<LIMIT GET POST>
Require valid-user
##</LIMIT>
<FilesMatch "^wiki$">
    ForceType application/x-httpd-php
</FilesMatch>
#

RewriteEngine on
RewriteBase /

# Deny direct access to the next directories
RewriteRule ^nova-config/.*$ - [R=404,L]
RewriteRule ^nova-base/.*$ - [R=404,L]
RewriteRule ^nova-languages/.*$ - [R=404,L]

# All URL process by index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [PT,L]
